@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="botao1">Teste1</button>
    <button id="botao2">Teste2</button>
</div>
