<!DOCTYPE html>
<html>
<head>
    <partial name="_Head" />
</head>
<body>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_Scripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
