@model DevEvolucional.Model.Dtos.UsuarioDto
@section Scripts
    {
    <script src="~/js/Usuario/SalvarUsuario.js" asp-append-version="true"></script>
}

<div class="row">
    <div class="col">
        <h2 class="display-4">@ViewData["Title"]</h2>
    </div>
</div>

<h2 class="display-4">Página de Geração de 1000 registros</h2>
