@{
    ViewData["Title"] = "Painel Administrativo 1.0";
}

<h2 class="display-4">Projeto-evolucional</h2>

<div class="row mt-4 mb-4">
    <div class="col">
        <a class="btn btn-primary" asp-area="Painel" asp-controller="Aluno" asp-action="Action1"><i class="fas fa-plus-circle"></i> Botão 1</a>
    </div>
</div>

<div class="row mt-4 mb-4">
    <div class="col">
        <a class="btn btn-primary" asp-area="Painel" asp-controller="Aluno" asp-action="Action2"><i class="fas fa-plus-circle"></i> Botão 2</a>
    </div>
</div>
